<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mine</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link href="../static/mobile.css" rel="stylesheet" media="screen and (max-width:600px)">
        <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:600px)">
    </head>
    <body>
        <div class="top">
            <div class="title">Johorscrape<sup style="font-size: 18px;">&copy;</sup></div>
            <div class="sub-title">Tell us when, and we'll handle the rest :)</div>
        </div>
            <p>Date: {{date}}</p> <p>Time: {{time}} {{ampm}}</p>
            <p>Prediction: {{pred}} units</p>
            <!-- src="static/{{pic_no}}.jpg" -->
            <img src="../../GCloud/snaps_1/11-02_23-00_Sat.jpg" alt="Jam Image" class="output_jam">
    <form action="/predict" method="POST" class="datetime-container">
            <div class="column">
                <label for="date">Date</label>
                <input type="date" id="date" name="date" class="where-u-click"> 
            </div>
            <div class="column">
                <label for="hour">Time</label>
                <select id="hour" class="where-u-click" name="hour">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="column">
                <select id="ampm" class="where-u-click" name="ampm">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
