* {
    --c5: #C1262C;
    --c4: #DB5C23;
    --c3: #f69220;
    --c2: #8BA247;
    --c1: #23B473;
}

html, body {
    margin: 0; /* Remove any default margin */
}

body {
    background-image: url("../static/website_bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.top {
    padding: 17% 0% 5% 0%;
}

.title {
    font-weight: bold;
    color:aliceblue;
    font-size: 290%;
}

.sub-title {
    font-size: 100%;
    font-weight: 400;
}

.datetime-container {
    margin-top: 5%;
}

.column {
display: inline-block;
margin: 10px;
}

.column input {
    font-size: 16px;
    padding: 5px;
    width: 70px;
}

.column select {
    font-size: 16px;
    padding: 5px;
    width: 70px;
}
.where-u-click {
font-size: 18px;
padding: 5px 10px;
border: 3px solid #ccc; /* border */
border-radius: 15px; /* Rounded corners */
background-color: transparent; /* background 1f3ca3 blue, f3570f orange */
color: #ffffff; /* text color */
}

option {
    color: black;
    text-align: center;
}


.output_jam {
    margin-top: 3%;
    width: auto; /* Maintain aspect ratio */
    max-width: 80%;
}

.youchose {
    font-size: 119%
}

.yougot {
    font-size: 135%
}

.boldasf {
    font-weight: 650;
}

button {
    padding: 5px 10px;
    border: 3px solid #ccc; /* border */
    border-radius: 15px; /* Rounded corners */
    font-size: 18px;
    color: #ffffff; /* text color */
}

.submit {
    background-color: rgb(0, 255, 94);
    color: #000000; /* text color */
    }

.reset {
    background-color: rgb(255, 0, 0);
}




/* css for the gauge meter below */

.meter_shi {
    display: flex;
    justify-content: center;
    align-items: center; /* Centers text inside vertically*/
}

.progress_bar {
    position: relative;
    background: black;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    mask-image: radial-gradient(transparent 55%, blue 55%);
    background: conic-gradient(var(--c3) 7%, var(--c4) 7% 21%, var(--c5) 21% 35%, rgb(255, 255, 255) 35% 35.5%, transparent 35.5% 64.5%, rgb(255, 255, 255) 64.5% 65%, var(--c1) 65% 79%, var(--c2) 79% 93%, var(--c3) 93%);
}

.inner_circle_needle {
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center; /* Centers text inside horizontally */
    align-items: center; /* Centers text inside vertically*/
    z-index: 2;
    background: 
       conic-gradient(
            from 400deg at 50% 50%, /* Rotating from this point 233deg to 477deg*/
            skyblue 2deg, /* Light color */
            white 3deg 8deg, /* Needle color */
            skyblue 8deg 10deg, /* Light color after needle */
            transparent 10deg /* Transparent portion */
        )
}

.percentage {
    position: absolute;
    top: 480px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}
