html, body {
    margin: 0; /* Remove any default margin */
}

body {
    background-image: url("../static/website_bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.top {
    padding: 17% 0% 15% 0%;
}

.title {
    font-weight: bold;
    color:aliceblue;
    font-size: 290%;
}

.sub-title {
    font-size: 100%;
    font-weight: 400;
}

.datetime-container {
    margin-top: 15%;
}

.column {
display: inline-block;
margin: 10px;
}

.column input {
    font-size: 16px;
    padding: 5px;
    width: 70px;
}

.column select {
    font-size: 16px;
    padding: 5px;
    width: 70px;
}
.where-u-click {
font-size: 18px;
padding: 5px 10px;
border: 3px solid #ccc; /* border */
border-radius: 15px; /* Rounded corners */
background-color: transparent; /* background 1f3ca3 blue, f3570f orange */
color: #ffffff; /* text color */
}

option {
    color: black;
    text-align: center;
}
